.screenshot {
    width: 90%;
    vertical-align: auto;
}

.cardBody {
    padding-bottom: 5px;
    padding-top: 5px;
    border: black;
    border-style: solid;
    margin: 15px
}

.btn {
    margin-left: 25px;
    margin-right: 25px
}
